:root {
  --web-vitals-good: #09cf6b;
  --web-vitals-needs-imp: #ffa400;
  --web-vitals-poor: #ff4e43;
}

.web-vitals {
  position: fixed;
  background-color: #fff;
  border: #000000 1px solid;
  width: 300px;
  z-index: 99;
}

.web-vitals .web-vitals__header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.web-vitals .web-vitals__header.open {
  border-bottom: #000000 1px solid;
}

.web-vitals .web-vitals__header .title {
  flex-basis: 90%;
}

.web-vitals .web-vitals__header .caret {
  flex-basis: 10%;
  position: relative;
}

.web-vitals .web-vitals__header .caret:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  border-top: 10px solid #000000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.web-vitals .web-vitals__header.open .caret:before {
  border-top: none;
  border-bottom: 10px solid #000000;
}

.web-vitals .web-vitals__content .hidden {
  display: none;
}

.web-vitals .web-vitals__content__value {
  color: var(--web-vitals-needs-imp);
}

.web-vitals .web-vitals__content__value.good {
  color: var(--web-vitals-good);
}

.web-vitals .web-vitals__content__value.poor {
  color: var(--web-vitals-poor);
}
